.header {
    background-color: var(--bs-body-bg);
    z-index: 100;
    .logo {
        img {
            width: 2em;
        }
    }
    .btn {
        font-size: 1.2rem;
        
    }

    h6 {
        margin-bottom: 0;
    }
}

.menu-list {
    .menu-item {
        display: flex;
        align-items: center;
        gap: 1em;
        border-radius: 8px;
        padding: 0.5em;
        &:hover{
            span.menu-title {
                text-decoration: underline;
                line-height: 1.5;}
           
        }
        .icon {
            display: inline-flex;
            align-items: center;
            justify-content: center;
            padding: 0.3em 0.5em;
            background: var(--berkeley-blue);
            color: #fff;
            border-radius: 8px;
            font-size: 1rem;
            margin-inline-end: 1em;
        }
    }
}