/* You can add global styles to this file, and also import other style files */
:root {
    --princeton-orange: #ff9914ff;
    --berkeley-blue: #002b5bff;
    --indigo-dye: #034078ff;
    --silver-lake-blue: #778da9;
    --platinum: #e0e1ddff;
    --gradient: linear-gradient(63deg, rgba(0,125,252,1) 31%, rgba(3,64,120,1) 97%);
    --theme-text-primary: #000000;
    --theme-text-secondary: #999999;
    --text-secondary-light: #bbbbbb;
  }
  
  $gradient: linear-gradient(63deg, rgba(0,125,252,1) 21%, rgba(3,64,120,1) 100%);
  $princeton-orange: #ff9914ff;
  $berkeley-blue: #002b5bff;
  $indigo-dye: #034078ff;
  $silver-lake-blue: #778da9ff;
  $platinum: #e0e1ddff;
  
  // bootstrap Customization
  
  $primary: $indigo-dye;
  $secondary: $silver-lake-blue;
  $info: $berkeley-blue;
  $warning: $princeton-orange;
  $light: $platinum;
  
  $enable-negative-margins: true;
  
  $spacer: 1rem !default;
  $spacers: (
    0: 0,
    1: $spacer * 0.25,
    2: $spacer * 0.5,
    3: $spacer,
    4: $spacer * 1.5,
    5: $spacer * 3,
    6: $spacer * 5,
    7: $spacer * 7,
    8: $spacer * 8,
    9: $spacer * 9,
    10: $spacer * 10,
    15: $spacer * 15,
  );
  
  $position-values: (
    0: 0,
    10: 10%,
    25: 25%,
    40: 50%,
    50: 50%,
    60: 60%,
    75: 75%,
    85: 85%,
    100: 100%,
  );
  
  @import "../node_modules/bootstrap/scss/bootstrap.scss";
  @import "../node_modules/bootstrap-icons/font/bootstrap-icons.css";
  
  @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Vazirmatn:wght@100..900&display=swap');
  
  html[lang="fa"] * {
    font-family: "Vazirmatn", sans-serif;
  }
  
  html[lang="en"] * {
    font-family: "Roboto", sans-serif;
  }
  
  body {
    overflow-x: hidden;
  }
  
  * {
    box-sizing: border-box;
  }
  
  
body {
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}



.offcanvas.offcanvas-start {
  width: 350px;
}


