<div *ngIf="!res" class="loader p-4 my-5 m-2">
  <app-loader></app-loader>
</div>

<div *ngIf="res && dailyWeather && hourlyWeather" class="p-1 m-2">
  <div class="row justify-content-center">
    <div class="details col-md-11 col-lg-10">
      <div class="d-flex flex-column justify-content-between align-items-start mb-3 px-1">
        <span class="location fs-3 text-muted fw-bold">{{
          location | titlecase
          }}</span>
        <span class="date small text-muted">
          {{ res.data.time | date }}
          <!-- <br>{{res.data.time | date:'shortTime'}} -->
        </span>
      </div>
      <div class="weather-main-infos rounded-3 bg-body p-3 d-flex justify-content-between">
        <div class="">
          <span class="fw-bold d-block mb-1 temperature">
            {{ res.data.values.temperature | number : "1.0-0" }}&deg;{{
            temperatureUnit
            }}
          </span>
          <span class="d-block mb-1 fs-2 fw-bold weather-status-desc">
            {{ statusCodesData[res.data.values.weatherCode].title }}
          </span>
          <span class="w-auto fs-6 temp-feels">
            Feels like
            {{ res.data.values.temperatureApparent | number : "1.0-0" }}&deg;{{
            temperatureUnit
            }}
          </span>
        </div>
        <span class="weather-code-img my-2">
          <!-- {{res.data.values.weatherCode }}  -->
          <img [src]="statusCodesData[res.data.values.weatherCode].icon" width="120px" alt="" />
        </span>
      </div>

      <div class="timesteps my-4 bg-body rounded-3 p-2 py-3">
        <ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-tabs">
          <li [ngbNavItem]="1">
            <button ngbNavLink>Hourly</button>
            <ng-template ngbNavContent>
              <div *ngIf="hourlyWeather" class="hourly-weather-list py-4 d-flex">
                <div *ngFor="let item of hourlyWeather.data.timelines[0].intervals" class="hourly-weather-item">
                  <div class="p-1 d-flex flex-column gap-2 align-items-center">
                    <span class="fw-bold fs-6">{{ item.values.temperature | number : "1.0-0" }}&deg;{{
                      temperatureUnit
                      }}</span>
                    <img [src]="statusCodesData[item.values.weatherCode].icon" alt="" class="img-fluid w-100 p-2" />
                    <small class="text-muted fw-light">{{
                      item.startTime | date : "h a"
                      }}</small>
                  </div>
                </div>
              </div>
            </ng-template>
          </li>
          <li [ngbNavItem]="2">
            <button ngbNavLink>Daily</button>
            <ng-template ngbNavContent>
              <div *ngIf="dailyWeather" class="daily-weather-list py-4 d-flex">
                <div *ngFor="let item of dailyWeather.data.timelines[0].intervals" class="daily-weather-item">
                  <div class="p-1 px-lg-4">
                    <div class="row justify-content-between align-items-center">
                      <div class="col-4">
                        <small class="text-muted fw-light">{{
                          item.startTime | date : "cccc"
                          }}</small>
                      </div>
                      <div class="col-2">
                        <span class="fw-bold fs-6">{{
                          item.values.temperature | number : "1.0-0"
                          }}&deg;{{ temperatureUnit }}</span>
                      </div>
                      <div class="col-4">
                        <img [src]="statusCodesData[item.values.weatherCode].icon" alt="" width="60px"
                          class="img-fluid p-2" />
                      </div>
                      <div class="col-2">
                        <small class="text-muted fw-light"><i class="bi bi-droplet-half me-2"></i>
                          {{ item.values.precipitationProbability }}%</small>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </ng-template>
          </li>
        </ul>

        <div [ngbNavOutlet]="nav" class="mt-2 p-1"></div>
      </div>

      <div class="weather-details row justify-content-between bg-body p-2 p-md-3 rounded-3 my-4">
        <div class="col-12">
          <div class="details-item">
            <div class="item-icon"><i class="bi bi-moisture"></i></div>
            <div class="item-info">
              <span class="fw-bold small text-muted"> Humidity Percent </span>
              <span class="fs-6 fw-bold d-block">{{ res.data.values.humidity | number : "1.0-0" }} %</span>
            </div>
          </div>
        </div>
        <div class="col-12">
          <div class="details-item">
            <div class="item-icon"><i class="bi bi-wind"></i></div>
            <div class="item-info">
              <span class="fw-bold small text-muted"> wind Speed </span>
              <span class="fs-6 fw-bold d-block">{{ res.data.values.windSpeed | number : "1.0-0" }} km/h</span>
            </div>
          </div>
        </div>
        <div class="col-12">
          <div class="details-item">
            <div class="item-icon">
              <i class="bi bi-arrows-collapse-vertical"></i>
            </div>
            <div class="item-info">
              <span class="fw-bold small text-muted"> Surface pressure </span>
              <span class="fs-6 fw-bold d-block">{{
                res.data.values.pressureSurfaceLevel | number : "1.0-0"
                }}
                mb</span>
            </div>
          </div>
        </div>
        <div class="col-12">
          <div class="details-item">
            <div class="item-icon"><i class="bi bi-brightness-high"></i></div>
            <div class="item-info">
              <span class="fw-bold small text-muted"> UV Index </span>
              <span class="fs-6 fw-bold d-block">{{ res.data.values.uvHealthConcern }} of 11</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>