.temperature {
    font-size: 3rem;
}

.weather-code-img {
    position: relative;
    img {
        position: relative;
        z-index: 1;
    }
    

    // &:after {
    //     content: "";
    //     width: 160%;
    //     height: 160%;
    //     position: absolute;
    //     top: -35%;
    //     left: 35%;
    //     background-color: var(--silver-lake-blue);
    //     opacity: 0.03;
    //     z-index: 0;
    //     border-radius: 50%;
    // }
}

.weather-details {
    & > div:not(:last-child) .details-item {
        border-bottom: 1px solid #e8e8e8c3;
    }
    .details-item {
        display: flex;
        align-items: center;
        padding: 0.5em 0;
       
        gap: 0.5em;
        .item-icon {
            padding: 8px ;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-grow: 0;
            aspect-ratio: 1/1;
            width: 45px;
            height: 45px;
            font-size: 24px;
        }

        .item-info {
            flex-grow: 1;
        }
    }
}

.hourly-weather-list {
    gap: 1em;
    flex-wrap: nowrap;
    overflow-x: auto;
    
    .hourly-weather-item {
        max-width: 120px;
        min-width: 75px;
    }
}

.daily-weather-list {
    gap: 1em;
    flex-direction: column;
    & > div:not(:last-child) .details-item {
        border-bottom: 1px solid #e8e8e8c3;
    }
    .daily-weather-item {
        width: 100%;
        padding: 0.5em 0;
      
    }
}