<div *ngIf="!res" class="loader p-4 my-5 m-2">
  <app-loader></app-loader>
</div>

<div *ngIf="res && dailyWeather && hourlyWeather" class="p-1 m-2">
  <div class="row justify-content-center">
    <div class="details col-md-11 col-lg-10">
      <div class="d-flex flex-column justify-content-between align-items-start mb-3 px-1">
        <span class="location fs-3 text-muted fw-bold">{{
          location | titlecase
          }}</span>
        <span class="date small text-muted">
          {{ res.data.time | date:'MMMM d, h:mm a' }}
          <!-- <br>{{res.data.time | date:'shortTime'}} -->
        </span>
      </div>
      <div class="weather-main-infos rounded-3 bg-body p-3 d-flex justify-content-between">
        <div class="">
          <span class="fw-bold d-block mb-1 temperature">
            {{ res.data.values.temperature | number : "1.0-0" }}&deg;{{
            temperatureUnit
            }}
          </span>
          <span class="d-block mb-1 fs-2 fw-bold weather-status-desc"
            *ngIf="statusCodesData[res.data.values.weatherCode]">
            {{ statusCodesData[res.data.values.weatherCode].title }}
          </span>
          <span class="w-auto fs-6 temp-feels">
            Feels like
            {{ res.data.values.temperatureApparent | number : "1.0-0" }}&deg;{{
            temperatureUnit
            }}
          </span>
        </div>
        <span class="weather-code-img my-2">
          <!-- {{res.data.values.weatherCode }}  -->
          <img *ngIf="statusCodesData[res.data.values.weatherCode]"
            [src]="statusCodesData[res.data.values.weatherCode].icon" alt="" class="img-fluid p-2" />
          <img *ngIf="!statusCodesData[res.data.values.weatherCode]" src="assets/images/default-icon.png" alt=""
            class="img-fluid p-2" />

        </span>
      </div>

      <div *ngIf="hourlyWeather" class="timesteps my-4 bg-body  rounded-3 p-2 py-3">
        <div class="hourly-weather-list p-1 d-flex">
          <div *ngFor="let item of hourlyWeather" class="hourly-weather-item">
            <div class="p-1 d-flex flex-column gap-2 align-items-center">
              <span class="fw-bold fs-6">{{ item.values.temperature | number : "1.0-0" }}&deg;{{
                temperatureUnit
                }}</span>
              <img *ngIf="statusCodesData[item.values.weatherCode]"
                [src]="statusCodesData[item.values.weatherCode].icon" alt="" class="img-fluid w-100 p-3" />
              <img *ngIf="!statusCodesData[item.values.weatherCode]" src="assets/images/default-icon.png" alt=""
                class="img-fluid w-100 p-1 mt-1" />
              <small class="text-muted fw-light">{{
                item.startTime | date : "h a"
                }}</small>
            </div>
          </div>
        </div>

      </div>
      <div *ngIf="dailyWeather" class="timesteps my-4 bg-body rounded-3 p-2 py-3">

        <div class="daily-weather-list p-1 d-flex">
          <div *ngFor="let item of dailyWeather.data.timelines[0].intervals" class="daily-weather-item">
            <div class="p-1 px-lg-4">
              <div class="row g-2 justify-content-between align-items-center">
                <div class="col-2">
                  <small class="text-muted fw-light">{{
                    item.startTime | date : "cccc"
                    }}</small>
                </div>
                <div class="col-2">
                  <span class="fw-bold fs-6">{{
                    item.values.temperature | number : "1.0-0"
                    }}&deg;{{ temperatureUnit }}</span>
                </div>
                <div class="col-2">

                  <img *ngIf="statusCodesData[item.values.weatherCodeDay]"
                    [src]="statusCodesData[item.values.weatherCodeDay].icon" alt="" class="img-fluid w-100 p-2" />
                  <img *ngIf="!statusCodesData[item.values.weatherCodeDay]" src="assets/images/default-icon.png" alt=""
                    class="img-fluid w-100 p-1 mt-1" />

                </div>
                <div class="col-2">

                  <img *ngIf="statusCodesData[item.values.weatherCodeNight]"
                    [src]="statusCodesData[item.values.weatherCodeNight].icon" alt="" class="img-fluid w-100 p-2" />
                  <img *ngIf="!statusCodesData[item.values.weatherCodeNight]" src="assets/images/default-icon.png"
                    alt="" class="img-fluid w-100 p-1 mt-1" />
                </div>
                <div class="col-1">
                  <small class="text-muted fw-light"><i class="bi bi-droplet-half me-2"></i>
                    {{ item.values.precipitationProbability }}%</small>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="weather-details row justify-content-between bg-body p-2 p-md-3 g-0 rounded-3 my-4">
        <div class="col-12">
          <div class="details-item">
            <div class="item-icon"><i class="bi bi-moisture"></i></div>
            <div class="item-info">
              <span class="fw-bold small text-muted"> Humidity Percent </span>
              <span class="fs-6 fw-bold d-block">{{ res.data.values.humidity | number : "1.0-0" }} %</span>
            </div>
          </div>
        </div>
        <div class="col-12">
          <div class="details-item">
            <div class="item-icon"><i class="bi bi-wind"></i></div>
            <div class="item-info">
              <span class="fw-bold small text-muted"> wind Speed </span>
              <span class="fs-6 fw-bold d-block">{{ res.data.values.windSpeed | number : "1.0-0" }} km/h</span>
            </div>
          </div>
        </div>
        <div class="col-12">
          <div class="details-item">
            <div class="item-icon">
              <i class="bi bi-arrows-collapse-vertical"></i>
            </div>
            <div class="item-info">
              <span class="fw-bold small text-muted"> Surface pressure </span>
              <span class="fs-6 fw-bold d-block">{{
                res.data.values.pressureSurfaceLevel | number : "1.0-0"
                }}
                mb</span>
            </div>
          </div>
        </div>
        <div class="col-12">
          <div class="details-item">
            <div class="item-icon"><i class="bi bi-brightness-high"></i></div>
            <div class="item-info">
              <span class="fw-bold small text-muted"> UV Index </span>
              <span class="fs-6 fw-bold d-block">{{ res.data.values.uvHealthConcern }} of 11</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>